@model IEnumerable<MVCNET6.Data.WorkLog.IWorkLogListItem>

<h1>Work Logs</h1>
<a asp-action="Add">Create Work Log</a>
<table>
    <tr>
        <th>Start Date</th>
        <th>Employee</th>
        <th>Actions</th>
    </tr>
    @foreach (var workLog in Model)
    {
        <tr>
            <td>@workLog.StartDate.ToString("MM/dd/yyyy hh:mm A")</td>
            <td><a asp-action="Details" asp-route-id="@workLog.Employee.Id">@workLog.Employee.Name</a></td>
            <td>
                <a asp-action="Details" asp-route-id="@workLog.Id">Details</a>
                <a asp-action="Delete" asp-route-id="@workLog.Id">Delete</a>
            </td>
        </tr>
    }
</table>
@if (ViewBag.PrevOffset >= 0)
{
    <a asp-action="Index" asp-route-offset="@ViewBag.PrevOffset">Previous Page</a>
}
@if (Model.Count() == 10)
{
    <a asp-action="Index" asp-route-offset="@ViewBag.NextOffset">Next Page</a>
}
