@model IEnumerable<MVCNET6.Data.WorkLog.IWorkLogListItem>

<form method="post">
    <label>Start Range</label>
    <input name="StartRange" type="date"/>
    <label>End Range</label>
    <input name="EndRange" type="date"/>
    <label>Employees (multiple selection)</label>
    <select name="EmployeeIds" asp-items="ViewBag.Employees" multiple="multiple"></select>
    <label>Number of results to display</label>
    <input name="NumberOfResults" value="10"/>
    <div>
        <input type="submit"/>
    </div>
</form>

<table>
    <tr>
        <th>Start Date</th>
        <th>Employee</th>
        <th>Actions</th>
    </tr>
    @foreach (var workLog in Model)
    {
        <tr>
            <td>@workLog.StartDate.ToString("MM/dd/yyyy hh:mm A")</td>
            <td><a asp-action="Details" asp-route-id="@workLog.Employee.Id">@workLog.Employee.Name</a></td>
            <td>
                <a asp-action="Details" asp-route-id="@workLog.Id">Details</a>
                <a asp-action="Delete" asp-route-id="@workLog.Id">Delete</a>
            </td>
        </tr>
    }
</table>